/*----------------------------------------
 * Columns
 *----------------------------------------*/
.columns {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$divider3;
    margin-left: -$divider3;

    @media (max-width: $mediaSmall) {
        .column {
            flex: none;
            width: 100%;
        }

        &.unstackable .column {
            width: initial;
            flex-basis: 0;
            flex-grow: 1;
            flex-shrink: 1;
        }
    }
}

.breakpoint {
    @each $name, $size in $mediaQueries {
        @media (max-width: $size) {
            &.#{$name}{
                .column {
                    flex: none;
                    width: 100%;
                }
            }
        }
    }
}

.column {
    padding: $divider3;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

@for $i from 0 through 12 {
    .span-#{$i}{
        flex: none;
        width: 100% / 12 * $i;
    }

    @each $name, $query in $mediaQueries {
        @media (max-width: $query) {
            .column.span-#{$i}-#{$name}{
                flex: none;
                width: 100% / 12 * $i;
            }
        }
    }
}