/*----------------------------------------
 * Segment
 *----------------------------------------*/
.segment-list {
    > .segment {
        border-radius: 0 0 2px 2px;

        &:first-child {
            border-radius: 2px 2px 0 0;
        }
    }
}

.segment {
    position: relative;
    padding: 24px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    background-color: #FFF;

    &.thinned {
        padding: thinned(24px);
    }

    &.thickened {
        padding: thickened(24px);
    }

    hr {
        margin: 24px 0;
        border-top: 1px solid #ddd;
    }
}

@each $name, $color in $darkColors {
    .segment.#{$name} {
        hr {
            border-color: lighten($color, 15%);
        }

        &:not(.inset){
            box-shadow: 0 0 0 1px rgba(darkToDarker($color),.15), 0 2px 3px rgba(darkToDarker($color), .2);
        }

        &.light {
            hr {
                border-color: rgba(darkToDarker($color),.1);
            }
        }
    }
}