/*----------------------------------------
 * Form
 *----------------------------------------*/
.form {
    font-size: $h6;

    .columns {
        padding-right: $divider3;

        .column {
            padding-top: 0;
            padding-right: 0;
        }
    }
}

