article {
    h1, h2, h3, h4, h5, h6, ul, ol, p, span {
        font-weight: lighter;
    }

    p > a {
        color: inherit;

        &:hover {
            color: darken($bPrimary, 10%);
        }
    }

    a {
        font-weight: normal;
    }
}